/* Sizes */
/* Common css */
* {
  box-sizing: border-box;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

.active {
  background-color: #333333;
  box-shadow: 0 0 2px black;
  color: #ffffff;
  opacity: 1; }

.sr-only {
  display: none; }

/* Other Imports */
body {
  color: #333333;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-between;
  min-height: 100vh;
  overflow-y: scroll; }

#app-header {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 2px #333333;
  display: flex;
  flex: none;
  height: 80px;
  padding: 0 40px;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#app-body {
  display: flex;
  flex: 1;
  max-width: 1180px;
  padding-top: 80px; }

#app-footer {
  background-color: #333333;
  flex: none;
  height: 164px; }

.mobile-nav {
  border: 2px solid #bbbbbb;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-around;
  padding: 5px 7px;
  width: 45px; }
  .mobile-nav hr {
    color: #bbbbbb; }

.brand-logo {
  color: #5f9ea0;
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px; }

#side-nav {
  background-color: #5f9ea0;
  position: absolute;
  opacity: 0.85;
  width: 206px; }
  #side-nav .nav-group {
    list-style: none;
    padding: 0;
    text-align: center; }
  #side-nav .nav-link {
    padding: 20px 40px;
    transition: all 0.4s ease; }
    #side-nav .nav-link:hover {
      background-color: #333333;
      color: #ffffff; }

@media (min-width: 961px) {
  #side-nav {
    font-size: 27px;
    position: static;
    opacity: 1; }
    #side-nav .nav-link {
      padding: 80px 40px; } }

#content-area {
  display: flex;
  flex: 1;
  flex-direction: column; }
  #content-area .content-body,
  #content-area .content-header {
    padding: 40px; }
  #content-area .content-body {
    flex: 1; }
  #content-area .content-header {
    font-size: 31.5px;
    border-bottom: 1px solid #bbbbbb; }

.form-group {
  padding: 20px 0; }

.line-group {
  display: flex;
  flex-wrap: wrap; }
  .line-group input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    flex: 1;
    font-size: 27px;
    padding: 20px;
    transition: all 0.3s ease; }
    .line-group input:active, .line-group input:focus {
      outline: none;
      border-bottom: 2px solid #5f9ea0; }

@media (min-width: 561px) {
  .line-group {
    flex-wrap: nowrap;
    padding: 20px 0; }
    .line-group input {
      width: 50%; }
    .line-group .spacer {
      flex: none;
      width: 40px; } }

.btn-save {
  background-color: #5f9ea0;
  border: none;
  font-size: 27px;
  padding: 20px 40px;
  outline: none;
  transition: all 0.4s ease; }
  .btn-save:hover {
    background-color: #333333;
    color: #ffffff; }

.report {
  display: flex;
  flex-direction: column;
  font-size: 27px; }
  .report .applied {
    color: #5f9ea0; }
  .report .detail,
  .report .detailx {
    display: none; }
  .report .fa {
    background-color: white;
    font-size: 27px;
    margin: 20px -10px 0; }
  .report .failed {
    color: tomato; }
  .report .pending {
    color: #ff9900; }
  .report .report-date {
    border: 1px solid #bbbbbb;
    border-left: 3px solid #bbbbbb;
    border-top: none;
    font-weight: bold;
    line-height: 2;
    padding-left: 10px;
    width: 250px; }
  .report .report-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbbbbb;
    padding: 20px 0;
    width: 100%; }
  .report td, .report th {
    padding: 20px;
    position: relative;
    text-align: center; }
  .report .timeliner {
    background-color: #bbbbbb;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px; }
  .report tr {
    border-bottom: 1px solid #bbbbbb; }

.report:first-child .report-date {
  border-top: 1px solid #bbbbbb; }

@media (min-width: 737px) {
  .report .detail {
    display: table-cell; } }

@media (min-width: 1161px) {
  .report .detailx {
    display: table-cell; } }
